@tailwind base;
@tailwind components;
@tailwind utilities;

/* véase https://www.freecodecamp.org/news/html-page-width-height/ */
body {
  min-height: 100vh;
}
main {
  min-height: 100vh;
}

/* véase https://twitter.com/wooorm/status/1641153799967391751*/
* {
  box-sizing: border-box;
  line-height: calc(1em + 1ex);
}

