* {
  box-sizing: border-box;
}

:root {
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-250: #d6d9df;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --blue-500: #3b82f6;
  --radius: 12px;
  --outline-color: #60a5fa;
}

:root {
  --gnome-blue1: rgb(153, 193, 241);
  --gnome-blue2: rgb(98, 160, 234);
  --gnome-blue3: rgb(53, 132, 228);
  --gnome-blue4: rgb(28, 113, 216);
  --gnome-blue5: rgb(26, 95, 180);
  --gnome-green1: rgb(143, 240, 164);
  --gnome-green2: rgb(87, 227, 137);
  --gnome-green3: rgb(51, 209, 122);
  --gnome-green4: rgb(46, 194, 126);
  --gnome-green5: rgb(38, 162, 105);
  --gnome-yellow1: rgb(249, 240, 107);
  --gnome-yellow2: rgb(248, 228, 92);
  --gnome-yellow3: rgb(246, 211, 45);
  --gnome-yellow4: rgb(245, 194, 17);
  --gnome-yellow5: rgb(229, 165, 10);
  --gnome-orange1: rgb(255, 190, 111);
  --gnome-orange2: rgb(255, 163, 72);
  --gnome-orange3: rgb(255, 120, 0);
  --gnome-orange4: rgb(230, 97, 0);
  --gnome-orange5: rgb(198, 70, 0);
  --gnome-red1: rgb(246, 97, 81);
  --gnome-red2: rgb(237, 51, 59);
  --gnome-red3: rgb(224, 27, 36);
  --gnome-red4: rgb(192, 28, 40);
  --gnome-red5: rgb(165, 29, 45);
  --gnome-purple1: rgb(220, 138, 221);
  --gnome-purple2: rgb(192, 97, 203);
  --gnome-purple3: rgb(145, 65, 172);
  --gnome-purple4: rgb(129, 61, 156);
  --gnome-purple5: rgb(97, 53, 131);
  --gnome-brown1: rgb(205, 171, 143);
  --gnome-brown2: rgb(181, 131, 90);
  --gnome-brown3: rgb(152, 106, 68);
  --gnome-brown4: rgb(134, 94, 60);
  --gnome-brown5: rgb(99, 69, 44);
  --gnome-light1: #ffffff;
  --gnome-light2: #f6f5f4;
  --gnome-light3: #deddda;
  --gnome-light4: #c0bfbc;
  --gnome-light5: #9a9996;
  --gnome-dark1: rgb(119, 118, 123);
  --gnome-dark2: rgb(94, 92, 100);
  --gnome-dark3: rgb(61, 56, 70);
  --gnome-dark4: rgb(36, 31, 49);
  --gnome-dark5: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Cantarell, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--gray-200);
  max-width: 70ch;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

main {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

h1 {
  text-align: left;
  font-size: 2em;
}

.new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: var(--gray-100);
  padding: 0 1em;
  border-radius: var(--radius);
  box-shadow: 0 0 5px var(--gray-400);

  & .input {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    gap: 0;
    padding: 1em 0;
    color: var(--gray-600);
    width: 100%;
  }

  & input {
    font-size: .8em;
  }
}

.new-task:focus-within {
  outline: 2px solid var(--outline-color);
}

.input:focus-within small {
  display: inline !important;
}

.input:focus-within {
  padding: .5em 0;
}

::placeholder {
  font-size: 1.1em;
  color: var(--gray-500);
}

i {
  cursor: pointer;
  color: var(--gray-800);
}

i:hover {
  color: var(--gray-950);
}

input {
  border: none;
  background: transparent;
}

input:focus {
  border: none;
  outline: none;
}

.tasks-list {
  display: grid;
  gap: .5em;
}

.task {
  border-radius: var(--radius);
  background-color: var(--gray-100);
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  box-shadow: 0 0 5px var(--gray-400);

  & .checkbox {
    margin: 0;
    margin-left: .6em;
    transform: scale(2);
    cursor: pointer;
  }

  & .title-edit {
    padding: .4em;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    border-radius: 10px;
    background-color: var(--gray-300);

    &:focus-visible {
      outline: 2px solid var(--outline-color);
    }
  }
}

.disabled-task {
  background-color: var(--gray-200);

  & p,
  h4 {
    text-decoration: line-through;
  }
}

.icons {
  display: flex;
  gap: .4em;
  margin-left: auto;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.tooltip {
  position: absolute;
  z-index: 20;
  background-color: var(--gray-250);
  padding: 1em;
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--gnome-dark1);
}
