
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2em;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.movie {
  text-align: center;
  padding: 1em;
  background-color: #424242;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px;
  transition: all ease-in 1s;
}

.movie:hover {
  outline: 1px solid lightyellow;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 10px;
}
