
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}
